:root {
    --red-bg-shade: 141, 24, 24;
    --almost-black: 20, 20, 20;
    --spacing-unit: 15px;
    --max-height: 98vh;
    --max-width: 98vw;
    --main-fontsize: 50px;
    --mini-fontsize: 30px;
    --mini-img-size: 60px;
}