:root {
    --brown-dark-shade: 133, 102, 18;
    --brown-light-shade: 187, 146, 32;
    --almost-black: 20, 20, 20;
    --spacing-unit: 15px;
    --max-height: 98vh;
    --max-width: 98vw;
    --main-fontsize: 50px;
    --mini-fontsize: 30px;
}