.listed {
    overflow-y: scroll;
    user-select: none;
    touch-action: pan-y;
    overscroll-behavior-y: contain;

    width: 100%;
    display: grid;
    justify-items: center;
}

.message-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70vw;
}
.message-list li {
    border: 1px solid rgb(var(--almost-black));
    border-radius: var(--spacing-unit);
    padding: 3px 20px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-list .main-part{
    display: flex;
    align-items: baseline;
}

.message-list .matched img {
    opacity: 0;
    cursor:default;
}
.message-list .meaning {
    color: rgb(var(--almost-black), .6);
    font-size: .5em;
    font-weight: 700;
}