@import '../vars.css';

.bigradio {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-align: center;
}

.charperline {
    display: table-caption;
}

.singleradioitem {
    cursor: pointer;
    padding: var(--spacing-unit);
    margin: 10px;
    border: 3px solid rgba(var(--brown-dark-shade), 0.8);
    border-radius: 5px;
}

.bigradio input[type="radio"] {
    display: none;
}
.bigradio input[type="radio"]:checked + .singleradioitem {
    background-color: rgba(var(--brown-light-shade), 0.3);
}
.singleradioitem img {
    height: 50px;
    width: 50px;
}
.singleradioitem span {
    cursor: pointer;
}

.errcontainer {
    position:absolute;
    bottom: 10vh;
    height: 1em;
}
.errormsg {
    color: red;
    font-size: .7em;
}

.formstage {
    display: block;
    position: absolute;
    transition: transform 1s ease, opacity 0.5s ease;
    transform: translateX(0);
    opacity: 0;
}

.slide-left {
    transform: translateX(-100vw);
}
.slide-right {
    transform: translateX(100vw);
}

.submit {
    cursor: pointer;
    padding: 7px 50px;
    background-color: rgb(var(--almost-black));
    color: white;
    border: none;
    border-radius: var(--spacing-unit);
    mix-blend-mode: darken;
    text-transform: capitalize;
    margin: 50px;
}
