.instructions {
    font-size: var(--mini-fontsize);
}

table {
    border: 1px solid rgb(var(--almost-black));
    border-radius: 5px;
    text-align: left;
    text-indent: var(--spacing-unit);
    margin: 30px;
    width: 40vw;
    opacity: 0;
    height: 5em
}
.word-orig {
    font-weight: 900;
    border-bottom: 3px solid rgb(var(--almost-black));
}

.spkr-img {
    height: 40px;
    width: 40px;
    margin: 0 20px;
}

.option {
    font-weight: 100;
    height: 1.2em;
    border-bottom: 1px solid rgb(var(--almost-black));
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.option-txt {
    flex-grow: 1;
}
.last-item {
    border: none;
}  
.active {
    background-color: rgba(var(--brown-dark-shade), 0.3);
}
.attempted {
    color: beige;
    background-color: rgba(var(--almost-black), 0.7);
}
.successful {
    color: beige;
    background-color: rgba(13, 156, 13, 0.7);
}

.ctrl-buttons {
    position: absolute;
    top: var(--spacing-unit);
    left: var(--spacing-unit);
}

.ctrl-singlebutton {
    background-color: transparent;
    border: none;
}

.ctrl-singlebutton img {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.ctrl-buttons input[type="radio"] {
    display: none;
}
.ctrl-buttons input[type="radio"]:checked + .ctrl-singlebutton {
    opacity: .6;
}
