.level-name {
    font-size: .5em;
}

.instructions {
    font-size: var(--mini-fontsize);
}

table {
    border: 1px solid rgb(var(--almost-black));
    border-radius: 5px;
    text-align: left;
    text-indent: var(--spacing-unit);
    margin: 30px;
    width: 40vw;
    opacity: 0;
    height: 5em
}
.word-orig {
    font-weight: 900;
    border-bottom: 3px solid rgb(var(--almost-black));
}
.spkr-img {
    height: 40px;
    width: 40px;
    margin: 0 20px;
}
.option {
    font-weight: 100;
    height: 1.2em;
    border-bottom: 1px solid rgb(var(--almost-black));
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.option-txt {
    flex-grow: 1;
}
.last-item {
    border: none;
}  
.active {
    background-color: rgba(var(--brown-dark-shade), 0.3);
}
.attempted {
    color: beige;
    background-color: rgba(var(--almost-black), 0.7);
}
.successful {
    color: beige;
    background-color: rgba(13, 156, 13, 0.7);
}

.listed {
    overflow-y: scroll;
    user-select: none;
    touch-action: pan-y;
    overscroll-behavior-y: contain;

    width: 100%;
    display: grid;
    justify-items: center;
}
.list-title {
    margin-top: var(--spacing-unit);
}

.message-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70vw;
}
.message-list li {
    border: 1px solid rgb(var(--almost-black));
    border-radius: var(--spacing-unit);
    padding: 3px 20px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message-list .matched {
    color: rgba(var(--brown-dark-shade), 0.85);
    border: 1px solid rgba(var(--brown-dark-shade), 0.85);
}

.message-list .main-part{
    display: flex;
    align-items: baseline;
}
.message-list .choose-option-btn {
    font-size: .35em;
    font-weight: 200;
    color:rgba(var(--brown-dark-shade), 1);
    background-color: bisque;
    border: 1.5px solid;
    border-radius: 15px;
    margin-left: 15px;
    padding: 0 10px;
    cursor: pointer;
}
.message-list .matched .choose-option-btn{
    display: none;
}

.message-list .matched img {
    opacity: 0;
    cursor:default;
}
.message-list .meaning {
    color: rgb(var(--almost-black), .6);
    font-size: .5em;
    font-weight: 700;
}

.ctrl-buttons {
    position: absolute;
    top: var(--spacing-unit);
    left: var(--spacing-unit);
}

.ctrl-singlebutton {
    background-color: transparent;
    border: none;
}

.ctrl-singlebutton img {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.ctrl-buttons input[type="radio"] {
    display: none;
}
.ctrl-buttons input[type="radio"]:checked + .ctrl-singlebutton {
    opacity: .6;
}
