.mask {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.popup {
    position: absolute;
    border: 3px solid black;
    border-radius: 20px;
    background-color: bisque;
    
    height: 60vh;
    width: 60vw;
    top: calc(calc(var(--max-height) - 60vh) / 2);
    left: calc(calc(var(--max-width) - 60vw) / 2);

    z-index: 5;
}

.popup-title {
    text-transform: capitalize;
    margin-top: 20px;
}

.mini {
    width: auto;
    display: grid;
    margin: 20px;
}

.mini li {
    height: 6rem;
}

.not-yet-attempted:hover {
    cursor: pointer;
    background-color: rgba(var(--brown-dark-shade), 0.3);
}

.fail-attempted {
    text-decoration: line-through;
    color: gray;
    font-size: 3rem;
}