* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}

body {
    background-image: url('images/sand_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
  
    padding: 15px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;    
}

.fulldisplay {
    height: 98vh;
    width: 98vw;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-top {
    justify-content: start;
}

.levels {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;

    display: flex;
}

.singlelevel {
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    border: 3px solid rgba(133, 102, 18, 0.8);
    border-radius: 5px;
}

.levels input[type="radio"] {
    display: none;
}
.levels input[type="radio"]:checked + .singlelevel {
    /* background-color: rgba(160,217,239, .3); */
    background-color: rgba(187, 146, 32, 0.3);
}
.singlelevel img {
    height: 50px;
    width: 50px;
}
.singlelevel span {
    cursor: pointer;
}

.errormsg {
    color: red;
    font-size: 15px;
}

.submit {
    padding: 7px 50px;
    background-color: rgb(20,20,20);
    color: white;
    border: none;
    border-radius: 15px;
    mix-blend-mode: darken;
}

.top-bar {
    /* position: sticky;
    top: 0; */
    height: 30vh;
    width: 100%;
    border-bottom: 3px solid rgba(133, 102, 18, 0.8);
}
.level-name {
    font-size: .5em;
}

.listed {
    overflow-y: scroll;
    width: 100%;
    display: grid;
    justify-items: center;
}
.list-title {
    margin-top: 15px;
}

#message-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70vw;
}
#message-list li {
    border: 1px solid rgb(20,20,20);
    border-radius: 15px;
    padding: 3px 20px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#message-list .matched {
    color: rgba(133, 102, 18, 0.6);
    border: 1px solid rgba(133, 102, 18, 0.5);
}
#message-list img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}
#message-list .matched img {
    display: none
}

.ctrl-buttons {
    position: absolute;
    top: 15px;
    left: 15px;
}

.ctrl-singlebutton {
    background-color: transparent;
    border: none;
}

.ctrl-singlebutton img {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.ctrl-buttons input[type="radio"] {
    display: none;
}
.ctrl-buttons input[type="radio"]:checked + .ctrl-singlebutton {
    opacity: .6;
}
