<html>

<head>
    <title>iCare Control</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/gameHelpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gameState.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script>
        try {
            var socket = io();

            GameState.setConsts('{{constants}}')
            GameState.setStrings('{{strings}}')
            GameState.setCurrLevel('{{level}}')
            GameState.setCurrMode('{{mode}}')

            socket.on('redirect', async function (data) {
                if (data?.url && !window.location.href.match(new RegExp(`${data.url}/?$`))) {
                    if (data?.body) {
                        await fetch('/savesession', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(data.body)
                        })
                    }
                    window.location.href = data.url;
                }
            });

            document.addEventListener('DOMContentLoaded', function () {
                const game_name_elm = document.getElementById('gamename')
                const game_config_elm = document.getElementById('gameconfig')
                game_name_elm.textContent = GameState.getStrings()["game_name"]
                game_config_elm.textContent = [GameState.getCurrModeStr(), GameState.getCurrLevelStr()].filter(i => i).join(' / ')
            })

        } catch (err) {
            console.log("connection to socket failed", err)
        }
    </script>
</head>

<body>
    <div class="fulldisplay centered">
        <div id="gamename" class="game-title"></div>
        <div id="gameconfig" class="game-config"></div>
        {% block body %}{% endblock %}
    </div>
</body>

</html>