{% extends "base.html" %}
{% block body %}

<form method="POST" class="fulldisplay centered">
    {{ form.csrf_token }}
    <div id="returnbtn" class="ctrl-buttons ctrl-singlebutton" onclick="changeStage(this)">
        <img class="ctrl-img" src="/static/icons/return.svg" alt="return" />
    </div>

    <div id="{{form.mode.name}}" class="formstage">
        {{ form.mode.label }}
        <p>
        <div class="bigradio">
            {% for subfield in form.mode %}
            {{ subfield }}
            <label for="{{subfield.id}}" class="singleradioitem" onclick="changeStage(this)">
                <span class="charperline">{{ subfield.label }}</span>
            </label>
            {% endfor %}
        </div>
    </div>

    <div id="{{form.level.name}}" class="formstage">
        {{ form.level.label }}
        <p>
        <div class="bigradio cap-text">
            {% for subfield in form.level %}
            {{ subfield }}
            <label for="{{subfield.id}}" class="singleradioitem">
                <img src="{{ url_for('static', filename='icons/' + subfield.data + '.svg') }}"
                    alt="{{ subfield.label.text }}" />
                <br />
                <span>{{ subfield.label.text }}</span>
            </label>
            {% endfor %}
        </div>
        <br />

        <div class="errcontainer">
            {% if form.level.errors %}
            <span class="errormsg">{{ form.level.errors[-1] }}</span>
            {% endif %}
        </div>

        <button class="submit" type="submit" id="submit"></button>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        obj = parseFromFlaskJson('{{ form.data }}')

        stages = document.getElementsByClassName('formstage')
        return_btn = document.getElementById('returnbtn')

        fields = Object.keys(obj).filter(i => i !== 'csrf_token')
        curr_stage = !!'{{stage_1_choice}}' ? 1 : 0;

        updateText("submit", GameState.getStrings()["gamestart.html"].submit_btn)

        changeStage = (e = null) => {
            let temp = e ? (e.id == "returnbtn" ? curr_stage - 1 : curr_stage + 1) : curr_stage;
            if (temp >= 0 && temp < fields.length) {
                changeStageStyle(stages, fields, e && curr_stage, temp)
                displayIfNotInitial(return_btn, temp)
                curr_stage = temp
            }
        }
        changeStage()
    })
</script>

{% endblock %}