{% extends "base.html" %}
{% block body %}

<div class="fulldisplay centered">

    <div id="end-title" class="cap-text" style="font-weight: 800;"></div>
    <div class="listed">
        <ul id="message-list" class="message-list">
            {% for m in matched %}
            <li id="l-{{m.word.word}}">
                <div id="w-{{m.word.word}}">{{m.word.word}}</div>
                <div id="m-{{m.word.meaning}}">{{m.word.meaning}}</div>
            </li>
            {% endfor %}
        </ul>
        <button id="submit" onclick="clickReturnFunc(this)" class="submit"></button>
    </div>
</div>
<script>

    function clickReturnFunc(elm) {
        GameState.playClickAudio();
        startGame(GameState.getCurrModeStr(true), GameState.getCurrLevelStr(true))
    }

    document.addEventListener('DOMContentLoaded', function () {
        is_done = '{{ status }}' === GameState.getConsts().GAME_STATUS.DONE;
        strings = GameState.getStrings()["gameend.html"]
        if (is_done) {
            new Audio('/static/audio/win.mp3').play()
            document.getElementById("end-title").textContent = strings.congrats
        }

        document.getElementById("submit").textContent = strings.submit_btn

        const scrollable_list = document.getElementsByClassName('listed')[0];
        supportListScrolling(scrollable_list)

        const english_items = document.querySelectorAll(`[id^="${isEnglishMode()?"w":"m"}-"]`);
        const chinese_items = document.querySelectorAll(`[id^="${isEnglishMode()?"m":"w"}-"]`);

        english_items.forEach(item => {
            speaker_btn = createSpeakerButton(item.id.slice(2))
            isEnglishMode() ? item.prepend(speaker_btn) : item.append(speaker_btn);
        });
        chinese_items.forEach(item => item.classList.add("meaning"))
    })

</script>

{% endblock %}