<html>
    <head>
        <title>iCare Control</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    </head>

    <body>
        <form action="/game/start" method = "post">

            <label for="level">Choose a level:</label>
            <br />
            <select name="level" id="level">
                <option value="" disabled selected></option>
                <option value="begginer">begginer</option>
                <option value="intermediate">intermediate</option>
                <option value="advanced">advanced</option>
            </select>
            <span class="errormsg" {{ '' if errormsg else 'hidden' }}>{{errormsg}}</span>

            <br /><br />
            <button type="submit">start game!</button>
        </form>
    </body>
</html>
