<div id="popup-window">
    <div class="mask"></div>
    <div class="popup">
        <span class="ctrl-buttons ctrl-singlebutton" onclick="GameState.changeToggle('')"><img src="/static/icons/close.svg" /></span>
        <div id="main-word" class="popup-title"></div>
        <ul id="options-list" class="message-list mini"></ul>
    </div>
</div>

<script>
    let is_toggle = false;
    const toggled_elm = document.getElementById('popup-window');

    const option_word = document.getElementById('main-word');
    const option_list = document.getElementById('options-list');    

    const changePopUpContent = (str) => {
        obj = GameState.getWord(str);
        option_word.textContent = obj.word;
        option_list.innerHTML="";
        for (let opt of obj.options) {
            item_elm = createListItem(opt)
            item_elm.onclick = () => fetch('/publish_select', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 
                    word: obj.word,
                    selected: opt
                })
            })
            option_list.append(item_elm)
        }
    }

    GameState.registerToggledObj(toggled_elm);
    GameState.registerOnToggleFunc(changePopUpContent);

</script>